<p>Ask your coach anything (eyebrows, eyebrows)</p>
<form action="/answer" data-turbo="false" method="get">
  <input type="text" name="question">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
